* {
	box-sizing: border-box;
}
.body {
    margin: auto;
    width: 900px;
}

.header {}

.headbutton {
    width: 100%;
    float: left;
}

.logohead {
    width: 100%;
    float: left;
}

.headtext {
    width: 100%;
    float: left;
}

.iphone {
    height: auto;
    position: relative;
    right: 70px;
    top: 110px;
    float: right;
}

.block1-3 {}

.block1 {
    width: 100%;
    float: left;
}

.block2 {
    width: 100%;
    float: left;
}

.cell1 {
    width: 100%;
    float: left;
}

.cell2 {
    width: 100%;
    float: left;
}

.cell3 {
    width: 100%;
    float: left;
}

.cell4 {
    width: 100%;
    float: left;
}

.cell5 {
    width: 100%;
    float: left;
}

.cell6 {
    width: 100%;
    float: left;
}

.cell7 {
    width: 100%;
    float: left;
}

.block3 {
    width: 100%;
    float: left;
}

.block4 {
    width: 100%;
    float: left;
}

.block5 {
    width: 100%;
    float: left;
}

.block6 {
    width: 100%;
    float: left;
}

.goitsolo {
    width: 100%;
    float: left;
}

.teamplan {
    width: 100%;
    float: left;
}

.footer {
    width: 100%;
    float: left;
}

.footblock1 {
    width: 100%;
    float: left;
}

.footblock2 {
    width: 100%;
    float: left;
}

.footblock3 {
    width: 100%;
    float: left;
}
